<div>
  <h2 id="page-heading" data-cy="PreferencesHeading">
    <span jhiTranslate="twentyOneApp.preferences.home.title">Preferences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="twentyOneApp.preferences.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-preferences"
        [routerLink]="['/preferences/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="twentyOneApp.preferences.home.createLabel"> Créer un nouveau Preferences </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="preferences?.length === 0">
    <span jhiTranslate="twentyOneApp.preferences.home.notFound">Aucun Preferences trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="preferences && preferences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="weeklyGoal">
            <div class="d-flex">
              <span jhiTranslate="twentyOneApp.preferences.weeklyGoal">Weekly Goal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="weightUnits">
            <div class="d-flex">
              <span jhiTranslate="twentyOneApp.preferences.weightUnits">Weight Units</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="twentyOneApp.preferences.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let preferences of preferences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/preferences', preferences.id, 'view']">{{ preferences.id }}</a>
          </td>
          <td>{{ preferences.weeklyGoal }}</td>
          <td jhiTranslate="{{ 'twentyOneApp.Units.' + preferences.weightUnits }}">{{ preferences.weightUnits }}</td>
          <td>
            {{ preferences.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/preferences', preferences.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/preferences', preferences.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(preferences)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
